body {
  font-family: "Josefin-Sans", sans-serif;
  margin: 20px auto;
  max-width: 490px;
}

fieldset {
  padding: 10px 30px 0;
}

legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
}

fieldset > div {
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
}

select{
  appearance: none;
}

.select-wrapper{
  position: relative;
  width: 100%;
}

.select-wrapper::after {
  content: "▼";
  font-size: 1rem;
  top: 6px;
  right: 10px;
  position: absolute;
}

button,
label,
select,
input[type="text"],
input[type="email"] {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
input[type="radio"]+label{
  display:inline;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid gray;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -4px;
  outline: none;
}

input[type="radio"]::before {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: red;
  font-size: 1.2em;
  transform: translate(3px, 3px) scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}

input[type="radio"]:checked::before {
  transform: translate(3px, 3px) scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

input ~ span {
  position: relative;
}

input:default ~ span::after {
  font-size: 0.7rem;
  position: absolute;
  content: "Default";
  color: white;
  background-color: black;
  padding: 5px 10px;
  right: -65px;
  top: -3px;
}

input[type="text"],
input[type="email"], select{
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}

input:hover, input:focus{
  background-color: #eee;
}

input+span{
  position: relative;
}
input + span::before{
  position: absolute;
  right: -20px;
  top: 5px;
}

input:invalid{
  border: 2px solid red;
}

input:valid + span::before{
  content: '✓';
  color:green;
}

input:invalid + span::before{
  content: '✖';
  color:red;
}

input:required + span::after{
  content: "Required";
  font-size: 0.7rem;
  position: absolute;
  color: white;
  background-color: black;
  padding: 5px 10px;
  top: -26px;
  left: -70px;
}

button{
  width: 60%;
  margin: 0 auto;
}